#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig KSCAN_CST816S
	bool "hynitron cst816 touchscreen"
	depends on I2C
	help
	 Enable driver for hynitron touchscreen. 

if KSCAN_CST816S

config KSCAN_CST816S_PEROID
	int "Sample period"
	depends on !KSCAN_FT5336_INTERRUPT
	default 10
	help
	  Sample period in milliseconds when in polling mode.

config KSCAN_CST816S_INTERRUPT
	bool "Enable interrupt"
	help
	  Enable interrupt support (requires GPIO).

endif # KSCAN_CST816S
