/* SPDX-License-Identifier: Apache-2.0 */
/ {
        chosen {
		zephyr,settings-partition = &storage_partition;
        };

	aliases {
		vibe = &vibe;
		charger = &charger_pin;
	};

	charger {
		compatible = "gpio-keys";
		charger_pin: charger_pin_0 {
			gpios = <&gpio0 12 GPIO_ACTIVE_LOW>;
			label = "charger";
		};
	};

	vibes {
		compatible = "gpio-keys";
		vibe: vibe {
			gpios = <&gpio0 16 GPIO_ACTIVE_LOW>;
			label = "vibe";
		};
	};
};

&i2c0 {
	zephyr,concat-buf-size = <32>;
};

&adc {
	status = "okay";
};

&xt25fb32 {
        partitions {
                compatible = "fixed-partitions";
                #address-cells = <1>;
                #size-cells = <1>;

                /* rdb in last 1MB */
                rdb_partition: partition@300000 {
                        label = "rdb";
                        reg = <0x00300000 0x100000>;
                };
	};
};
