/* SPDX-License-Identifier: Apache-2.0 */
/ {
	aliases {
		vibrator = &pwm_vibrator;
		charger = &charger_pin;
	};

	pwmleds {
		compatible = "pwm-leds";
		pwm_led0: pwm_led_0 {
			pwms = <&pwm0 23>;
			label = "backlight";
		};

		pwm_vibrator: pwm_vibrator {
			pwms = <&pwm0 16>;
			label = "pwm vibrator";
		};
	};

	charger {
		compatible = "gpio-keys";
		charger_pin: charger_pin_0 {
			gpios = <&gpio0 12 GPIO_ACTIVE_LOW>;
			label = "charger";
		};
	};
};

&i2c0 {
	zephyr,concat-buf-size = <32>;
};

&mx25l {
	compatible = "mxicy,cmos-mx25l", "jedec,spi-nor";
	jedec-id = [0b 40 16];
	size = <0x3200000>;
};

&pwm0 {
	status = "okay";
	ch0-pin = <23>;
	ch0-inverted;
	ch1-pin = <16>;
	ch1-inverted;
};

&adc {
	status = "okay";
};
