/**
 * copyright (c) 2026 Qingsong Gou <gouqs@hotmail.com>
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	chosen {
	};

	aliases {
		retainedmem = &rtc_backup;
	};
};

&rtc_backup {
	status = "okay";
};
